<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Bem-Vindo ao SGU Sistema de Genrenciamento de Usuario</h1>

    <%= link_to "Cadastro", "users/new"%>
    <%= link_to "Login", "users/login"%>
  </body>
</html>